.header {
  display: flex;
  height: 150px;
  font-size: 36px;
  font-weight: bold;
  margin: 30px;
  flex-grow: 1;
  text-align: center;
  align-items: center;
}

.header .rows {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
}

.header .row1 {
  margin-bottom: 5px;
  display: flex;
  height: 60px;
  column-gap: 30px;
}

.header .row2 {
  margin-top: 5px;
  display: flex;
  height: 60px;
  column-gap: 30px;
}

.header .logo {
  margin-top: 10px;
  margin-right: 30px;
}

.header .search {
  display: flex;
  flex-grow: 1;
  border: solid;
  background: #b0d8ef;
  justify-content: space-between;
}

input[type="text"] {
  margin: 15px;
  min-width: 80%;
}

.header .search .btn {
  font-size: 25px;
  align-self: center;
  margin-right: 30px;
}

.header .language {
  flex-grow: 1;
  border: solid;
  background: #b0d8ef;
  max-width: 180px;
}

.header .print {
  flex-grow: 3;
  border: solid;
  background: #b0d8ef;
}

.header .time {
  flex-grow: 1;
  border: solid;
  background: #b0d8ef;
  font-size: 30px;
  padding-top: 5px;
}

.header .question {
  flex-grow: 1;
  border: solid;
  background: #b0d8ef;
  max-width: 60px;
}

.header .avatar {
  flex-grow: 1;
  border: solid;
  background: #b0d8ef;
  overflow: hidden;
  max-width: 60px;
}

.header .exit {
  background: #c4c4c4;
  flex-grow: 3;
  border: solid;
  max-width: 180px;
}

.header .exit a {
  color: black;
  text-decoration: none;
}

.header .exit a:hover {
  opacity: 50%;
}